doctype html
html(lang='en')
  // The language defaults to English - update accordingly if necessary 

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    title      

    // PNG favicon 
    link(rel='icon', type='image/png', href='img/favicon.png')

    // Main CSS file and normalize.css (https://github.com/necolas/normalize.css/) or reset of your preference  
    link(rel='stylesheet', href='css/normalize.min.css')
    link(rel='stylesheet', href='css/main.min.css')

  body

    // Content of your website or application 

    // Bundled JavaScript file 
    script(src='js/bundle.js')